
<!-- Action is where my form will redirect to -->
<html class="search">
<link rel="stylesheet" href="/styles/style.css">
<body>
    <form action="/artist-search" placeholder="The Beatles" method="GET">
        <div class="input center">
        <input type="text" name="artist"/> 
        </div>
        <div class="button center">
        <button type="submit">Search for an Artist</button>
        </div>
    </form>
</body>
</html>